<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebRTC Demo</title>
</head>

<body>
    <video id='streamVideo' width="300px" controls></video>
    <br>
    <video id='friendVideo' width="300px" controls></video>
    <br>
    <label>my signal token</label>
    <br>
    <textarea rows="5" id="txtSignal" cols="100"></textarea>
    <br>
    <input type="text" id="friendSignal">
    <br>
    <button id="btn-Connect">connect</button>
</body>
<script src='bundle.js'></script>
</html>