<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebRTC Demo</title>
</head>

<body>
    <video id='streamVideo' width="700px" controls></video>
</body>
<script src='bundle.js'></script>
</html>